{
  "presets": [
      "@babel/preset-env",
      "@babel/preset-stage-2",
      "@babel/preset-flow"
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining"],
  "ignore": ["src/libdef.flow.js"]
}
