{
    "extends": ["plugin:flowtype/recommended", "airbnb-base"],
    "parser": "babel-eslint",
    "globals": {
        "fetch": false
    },
    "rules": {
        "arrow-body-style": 0,
        "import/prefer-default-export": "off",
        "indent": ["error", 4, {"SwitchCase": 1}],
        "semi": ["error", "never"]
    },
    "plugins": [
        "flowtype"
    ],
    "env": {
        "es6": true
    }
}
