{
    "extends": ["plugin:flowtype/recommended", "airbnb-base"],
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],    
    },
    "plugins": [
        "flowtype"
    ],
    "env": {
        "es6": true
    }
}
